@media(max-width:1200px) {
    .mobile_item {
        width: 300px;
    }
    .stage_text {
        width: 150px;
    }
    .choose .stage_text_white {
        width: 150px;
    }
    nav {
        padding-left: 20px;
    }
    .menu .menu_link {
        font-size: 13px;
    }
    .promo .promo_descr {
        margin-left: -22px;
    }
    .subheader .subheader_btn {
        margin-top: 70px;
    }
    .last .last_link {
        margin-top: 50%;
    }
    .footer_list .footer_item  {
        margin: 7px;
    }
    .footer_list .footer_item .link_list {
        font-size: 18px;
    }
    .footer_list2 .footer_item2 {
        margin: 7px;
    }
    .footer_list2 .footer_item2 .link_item {
        font-size: 17px;
    }
    .social_footer2 {
        top: 38px;
    }
    .footer .divs {
        margin-top: -87px;
    }
    .social_footer {
        transform: translateY(45px);
    }
    .subheader .subheader_call {
        top: 50px;
    }
    .stage .promo_descr {
        font-size: 18px;
        width: 100%;
    }
    
}
@media(max-width:991px) {
    .menu  .menu_item {
        padding-right: 8px;
    }
    .menu .menu_item .menu_link {
        font-size: 11px;
    }
    .mobile .mobile_item {
        width: 230px;
    }
    .mobile .stage_text {
        width: 150px;
    }
    .stage_text_white {
        width: 20%;
    }
    .stage_img {
        margin-left: 50px;
    }
    
    .subheader_phone {
        font-size: 18px;
        margin-top: 105px;
    } 
     .subheader .subheader_official {
        width: 150%;
    font-size: 13px;
    }
    .logo_imgs {
        margin-left: 3px;
    margin-top: 12px;
    }
    
    .subheader_call {
        margin-top: 5px;
    }
   .subheader .subheader_btn {
        margin-top: 70px;
    }
    .choose .choose_txt {
        margin-top: 360px;
    }
    .require  {
        padding-left: 25px;
    }
    .require .require_block {
        position: relative;
    }
    .req_lis {
        display: block;
        position: absolute;
        right: -180px;
    }
     .require_list .li {
        text-align: center;
        width: 565px;
    }
    .require_block .require_list .li {
        font-size: 21px;
    }
    .li::before {
        left: 70px;
    }
    .require_list .require_descr {
        text-align: center;
    }
    .require_block .require_title {
        text-align: center;
        transform: translateX(50px);
    }
    .require_list .li_li {
        text-align: center;
        width: 565px;
    }
    .require_block .require_list .li_li {
        font-size: 21px;
    }
    .li_li::before {
        left: 70px;
    }
    .last .last_link {
        margin-top: 67%;
    }
     .footer_list .footer_item  {
        margin: 7px;
    }
    .footer_list .footer_item .link_list {
        font-size: 16px;
    }
    .footer_list2 .footer_item2 {
        margin: 7px;
    }
    .footer_list2 .footer_item2 .link_item {
        font-size: 13px;
    }
    .social_footer2 {
        top: 38px;
    }
    .footer .divs {
        margin-top: -87px;
    }
    .social_footer {
        transform: translateY(45px);
    }
    .mobile .subtitle {
        font-size: 19px;
    }
    .last .last_link {
        transform: translateY(20px);
    }
    .rus_link {
        transform: translateY(10px);
    }
}

@media(max-width:767px) {
    .menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(0, 0, 0, .8);
        transition: 0.6s all;
    }
    .menu_active {
        left: 0;
    }
    .menu_item {
        padding-right: 0;
        border: none;
        margin: 10px 0;
    }
    .menu .menu_item .menu_link {
        font-size: 23px;
       
    }
    .subheader .subheader_btn {
        display: block;
        width: 200px;
        height: 40px;
        margin: 0 auto;
        margin-top: 15px;
    }
    .stage_img {
        margin-left: 55px;
        float: none;
        transform: translateX(80%);
        width: 30%;
    }
    .stage_official {
        margin-left: 50px;
    }
    .stage .promo_descr {
        margin-left: 50px;
    }
    
    .subheader_phone {
        display: block;
        margin-top: 100px;
        color: #fff;
        font-size: 19px;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
    }
    .promo .promo_header {
        line-height: 60px;
    }
    
    .mobile {
        background: rgb(0 0 0 / 15%);
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
    }
    .hamburger span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #fff;
        margin: 2px;
    }
    .xs_hidden {
        display: none;
    }
    .xs_visible {
        display: block;
    }
    .require_list  {
       position: relative;
       right: 50px;
    }
}
@media(max-width:575px) {
    nav {
        height: 40px;
    }
    .subheader {
        height: 135px;
    }
    .subheader .subheader_official {
        display: none;
    }
     .logo_imgs {
        width: 135px;
        margin-top: 24px;
    }
    .subheader_phone {
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 77px;
    }
    .subheader .subheader_btn {
        width: 110px;
        height: 22px;
        font-size: 10px;
        margin-top: 5px;
    }
    .subheader .subheader_btn:hover {
        background-image: linear-gradient(to top, rgb(9, 114, 156) 0%, #4ce2ff 100% );
    }
    .promo {
        min-height: 400px;
    }
    .promo .promo_header {
        font-size: 33px;
        line-height: 45px;
    }
    .promo .promo_subheader {
        line-height: 30px;
        font-size: 21px;
    }
    .promo .promo_descr {
        display: none;
    }
    .stage_img {
    margin-top: 0;
    float: none;
    width: 30%;
    margin: 0 auto;
    transform: translateX(0);
}
    .stage .stage_official {
        margin-left: 17px;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .stage .promo_descr {
        margin-left: 17px;
        font-size: 11px;
        line-height: 18px;
    }
    .menu  {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 77%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(0, 0, 0, .8);
        transition: 0.6s all;
    }
    .menu_active {
        left: 0;
    }
    .menu_item {
        padding-right: 0;
        border: none;
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }
    .menu .menu_item .menu_link {
        display: block;
        font-size: 25px;
    }
    .promo .promo_btn {
        width: 210px;
        height: 50px;
        margin-top: 72px;
    }
    .stage .stage_title {
        font-size: 19px;
    }
    
    .require_block .require_title {
        text-align: center;
        transform: translateX(-8%);
    }
    .require_block .require_list {
        /* padding-left: 170px; */
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .require_block .require_list .li {
        font-size: 16px;
        transform: translateX(-109px);
    }
    .li::before {
        left: 120px;
    }
    .require_list .require_descr {
        text-align: center;
        font-size: 16px;
        width: 100%;
        transform: translateX(-17%);
    }
    .require .warning {
        padding-left: 0;
    }
    .require_block .require_list .li_li {
        font-size: 16px;
        transform: translateX(-109px);
    }
    .li_li::before {
        left: 120px;
    }
    .li::before {
        left: 120px;
    }
    .footer_list .footer_item .link_list {
        font-size: 12px;
    }
    .footer_list2 .footer_item2 {
        margin: 3px;
    }
    .footer_list2 .footer_item2 .link_item {
        font-size: 8px;
    }
    .social_footer2 {
        right: -2px;
        top: 58px;
    }
    .social_img {
        width: 30px;
        height: 30px;
        margin: 2px;
    }
    .social_img1 {
        width: 19px;
        height: 19px;
        margin: 2px;
    }
    .social_footer {
        position: relative;
        right: 26px;
        top: 15px;
    }
    .last .last_link {
        margin-top: 300px;
    }
    .mobile {
        position: relative;
        top: 1.2rem;
    }
}